name: Ping Website Every 10 Minutes From 6 AM

on:
  schedule:
    - cron: '0 6-23 * * *'   # 6:00 to 23:00 every hour, minute 0
    - cron: '10 6-23 * * *'  # minute 10 past each hour
    - cron: '20 6-23 * * *'
    - cron: '30 6-23 * * *'
    - cron: '40 6-23 * * *'
    - cron: '50 6-23 * * *'
  workflow_dispatch:         # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping /articles page
        run: |
          curl -s -o /dev/null -w "%{http_code}" https://nougat-f609.onrender.com/api/articles
